<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>六度盒子</title>
	<link href="http://xf.6dbox.cn:80/common/img/logo_gold.png" rel="shortcut icon" type="image/x-icon">
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3x3naWhVeL9a4BPcZbqWHydj&services=true"></script>
</head>
<body >
	<div id="app" >
	    <nb :api='api' v-if='shownv' :avarta='avarta'></nb>
		<router-view :api='api' @changetag='changeTag' @changenv='changenv' @changeavartaandrole='changeavartaandrole'></router-view>
		<sb :menutag='menuTag' v-if='shownv' :role='role'></sb>
		<loading v-if='showLoading'></loading>
	</div>
</body>
</html>