/*样式重置*/
html,body{
	width: 100%;
	height:100%;
	overflow-x:hidden;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
	background:#f6f6f6;
	font-size:16px;
}
body,div,p,a,span,h1,h2,h3,img,button，ul,li{
	margin: 0;
	padding: 0;
	border: none;
	font-family:"Microsoft YaHei";
	color: #000;
	display: block;
}

 a{
 	display: inline-block;
 	text-decoration: none;
 	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
 }
 a:link{text-decoration:none;}
 a:hover{text-decoration:none;}
 a:visited{text-decoration:none;}
 a:active{text-decoration:none;}
ul,li{
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}
// input{
// 	-webkit-appearance:none;
//     -webkit-tap-highlight-color:rgba(255,0,0,0);
//     }
a,button,input,textarea{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
}
#app{
	width:100%;
	height:100%;
}

.alert-no-show{
	width:240px;
	height:30px;
	line-height:30px;
	text-align:center;
    background:#E56B6B;
    border-radius:30px;
    color:#fff;
    position: fixed;
    left: 45%;
    top:124px;
    z-index:10000;
}
.alert-yes-show{
	width:240px;
	height:30px;
	line-height:30px;
	text-align:center;
    background:#d0a34e;
    border-radius:30px;
    color:#fff;
    position: fixed;
    left: 45%;
    top:124px;
    z-index:10000;
}
@media (min-width: 768px) and (max-width: 1368px) {
 html,body{
    font-size:12px;
 }
 .alert-no-show,.alert-yes-show{
    top:64px;
}

}